@import "tailwindcss"; 

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/syne/Syne-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/syne/Syne-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/syne/Syne-Extra.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/syne/Syne-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Syne Mono';
  src: url('./assets/fonts/syne/Syne-Mono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    /* Fonts */
    --font-syne: 'Syne', system-ui, sans-serif;
    --font-syne-mono: 'Syne Mono', monospace;

    /* Colors */
    --color-primary-50: #f5f7fe;
    --color-primary-100: #e9effd;
    --color-primary-200: #c8dbfb;
    --color-primary-300: #93bbf7;
    --color-primary-400: #3E92EE;
    --color-primary-500: #2b7de0;
    --color-primary-600: #0A2463;
    --color-primary-700: #081d4f;
    --color-primary-800: #06163b;
    --color-primary-900: #040f27;

    --color-secondary-50: #fef2f5;
    --color-secondary-100: #fde6eb;
    --color-secondary-200: #fbd0dc;
    --color-secondary-300: #f7a9bd;
    --color-secondary-400: #D8315B;
    --color-secondary-500: #c42b52;
    --color-secondary-600: #a02443;
    --color-secondary-700: #7d1c34;
    --color-secondary-800: #591425;
    --color-secondary-900: #350c16;

    --color-background: #FFFAFF;
    --color-text: #1E1B15;
  }
}

/* Estilos base */
body {
  font-family: var(--font-syne);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Scroll solo si se desborda */
.scrollable-content {
  overflow: auto;
}
